@import "tailwindcss";
@plugin "daisyui";

#root {
  width: 100dvw;
  height: 100dvh;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}